[Desktop Entry]
Encoding=UTF-8
Name=Link to (21) Manual calibration on a Kossel Delta style 3D Printer with Marlin firmware AKA Bed leveling - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=5nD6LLx32U0&t=1176s
Icon=text-html
