[Desktop Entry]
Encoding=UTF-8
Name=Link to Bilinear bed leveling with manual probing · Issue #7172 · MarlinFirmware/Marlin
Type=Link
URL=https://github.com/MarlinFirmware/Marlin/issues/7172#issuecomment-312221817
Icon=text-html
